.gallery-container{
  display: grid;
  place-items: center;
  height: 100vh;
}
.images{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  grid-template-rows: repeat(3,1fr);
  grid-gap: 5px;
}

.images img{
  width: 200px;
  cursor: move;
}

.images>:first-child{
  grid-column:1/3;
  grid-row: 1/3;
  width: 400px;
}

.images>:first-child img{
  width: 400px;
}

.images img:hover{
  border: 2px solid gray;
  border-radius: 20px;
  opacity:0.5;
}

.addPhoto{
  display: grid;
  place-items: center;
  width: 200px;
  height: 200px;
  border: 1px dotted grey;
  border-radius: 20px;
  background: rgb(219, 214, 214);
}

.addPhoto p{
  font-size: large;
}

.imgPlus{
font-size: xx-large;
margin: auto;
}
.checkBox{
  position: absolute;
  left: 20px;
  top:20px;
  z-index:10;
  

}
.invisible{
  visibility: hidden;
}
input[type=checkbox]
{
-ms-transform: scale(2); 
-moz-transform: scale(2); 
-webkit-transform: scale(2); /* Safari and Chrome */
transform: scale(2);
padding: 10px;
}


@media only screen and (max-width: 768px) {
  .images{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(7,1fr);
    grid-gap: 2px;
  }
  .images img{
    width: 100%;
  }
  
  .images>:first-child{
    width: auto;
  }
  .images>:first-child img{
    width: 100%;
  }
  .images>:not(:first-child){
    width: 99%;
  }

}

.cardWrapper:hover>.invisible{
visibility: visible;
}

